In [2]:
#contact based

import pandas as pd

In [3]:
books =  pd.read_excel("books.xlsx")


books.title.fillna(books.original_title, inplace=True)
books.original_title.fillna(books.title, inplace=True)

books.shape
#books.head()

(5000, 14)

In [ ]:
books[books['original_title']== None]

In [ ]:
books.iloc[323]

In [ ]:

# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

In [4]:
#dictionary for bookid
book_id_mapping = {j:i for i,j in enumerate (sorted(books.book_id.unique()))}

In [5]:
#matrix
books["dic_book"] = books.book_id.map(lambda x: book_id_mapping[x] )

books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,image_url,small_image_url,dic_book
0,1,2767052,2767052,2792775,272,439023483,9.780440e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,0
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrֳƒֲƒֳ‚ֲ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,eng,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,1
2,3,41865,41865,3212258,226,316015849,9.780320e+12,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",en-US,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,2
3,4,2657,2657,3275794,487,61120081,9.780060e+12,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,eng,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,3
4,5,4671,4671,245494,1356,743273567,9.780740e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,eng,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,4

In [6]:
len(books.authors.unique())

2551

In [ ]:
#books.fillna(0)

In [7]:
df_rating = pd.read_csv("ratings.csv")
df_agg = df_rating.groupby('book_id').rating.agg(['mean','count'])
df_agg.reset_index(inplace=True)
books = pd.merge(books, df_agg, how="inner", on=["book_id"])

In [8]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,image_url,small_image_url,dic_book,mean,count
0,1,2767052,2767052,2792775,272,439023483,9.780440e+12,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,0,4.238662,1764
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrֳƒֲƒֳ‚ֲ©",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,eng,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,1,4.058140,1634
2,3,41865,41865,3212258,226,316015849,9.780320e+12,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",en-US,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,2,3.376528,1227
3,4,2657,2657,3275794,487,61120081,9.780060e+12,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,eng,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,3,4.364625,1747
4,5,4671,4671,245494,1356,743273567,9.780740e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,eng,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,4,3.748036,1655

In [9]:
books['lang_code'] = (pd.factorize(books["language_code"])[0])+1

In [30]:
df_for_cosine = books[['original_publication_year','books_count','best_book_id']]

df_for_cosine.head()

   original_publication_year  books_count  best_book_id
0                     2008.0          272       2767052
1                     1997.0          491             3
2                     2005.0          226         41865
3                     1960.0          487          2657
4                     1925.0         1356          4671

In [11]:
df_for_cosine.lang_code.unique()

array([ 1,  2,  3,  0,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17], dtype=int64)

In [31]:
df_for_cosine ['original_publication_year'] = df_for_cosine['original_publication_year'].apply(lambda x: max(1750,x))

<ipython-input-31-55a7e3550734>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_for_cosine ['original_publication_year'] = df_for_cosine['original_publication_year'].apply(lambda x: max(1750,x))

In [32]:
df_for_cosine.describe()

       original_publication_year  books_count  best_book_id
count                5000.000000  5000.000000  5.000000e+03
mean                 1987.438200   108.730200  4.748960e+06
std                    44.882106   228.910462  7.332101e+06
min                  1750.000000     1.000000  1.000000e+00
25%                  1987.000000    34.000000  3.119025e+04
50%                  2003.000000    54.000000  2.484835e+05
75%                  2010.000000    88.000000  7.747291e+06
max                  2016.000000  3455.000000  3.553423e+07

In [ ]:

df_for_cosine.sort_values('original_publication_year', ascending=True).head()

In [ ]:
df_for_cosine.sort_index(ascending=True).head()

In [ ]:
import pandas as pd
from sklearn import preprocessing

x = df_for_cosine.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [ ]:
#normalized df_for_cosine
cosine_sim = linear_kernel(df, df)
print(cosine_sim[2]) 
print(cosine_sim.shape)

In [ ]:
a = pd.DataFrame(cosine_sim)
a.head()

In [33]:
from sklearn.metrics.pairwise import pairwise_distances

cosine_sim = 1-pairwise_distances(df_for_cosine, metric='cosine')
print(cosine_sim.shape)
cosine_sim = pd.DataFrame(cosine_sim).round(6)
cosine_sim.head()

(5000, 5000)

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,1.000000,0.002187,0.998876,0.796563,0.893251,1.000000,0.939117,0.932400,0.429202,0.435388,...,1.000000,0.994375,0.998979,1.000000,0.999817,0.993948,0.999816,1.000000,1.000000,1.000000
1,0.002187,1.000000,0.049197,0.606295,0.420555,0.001628,0.337111,0.362848,0.900743,0.597291,...,0.001664,0.105728,0.046250,0.002938,0.020844,0.109054,0.020880,0.001770,0.001652,0.001668
2,0.998876,0.049197,1.000000,0.824079,0.910925,0.998849,0.953348,0.948443,0.471500,0.458816,...,0.998851,0.998261,0.999988,0.998912,0.999596,0.998011,0.999597,0.998856,0.998850,0.998851
3,0.796563,0.606295,0.824079,1.000000,0.964851,0.796225,0.950744,0.960811,0.885747,0.708376,...,0.796247,0.854651,0.822374,0.797016,0.807690,0.856318,0.807711,0.796310,0.796239,0.796249
4,0.893251,0.420555,0.910925,0.964851,1.000000,0.893026,0.991603,0.980437,0.747208,0.749099,...,0.893037,0.927923,0.909158,0.893527,0.900208,0.928429,0.900208,0.893078,0.893032,0.893038

In [15]:
books.index[books['original_title'] == 'Bite Club' ].tolist()

[4999]

In [40]:

# # Function that takes in movie title as input and outputs most similar movies
def get_recommendations(book_name, cosine_sim=cosine_sim,k=1):
    # Get the index of the movie that matches the title
    #idx = books['original_title'] = book_name
    idx = books.index[books['original_title'] == book_name].tolist()[0]
    print(idx)


    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the books based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
   # print(sim_scores)

    # Get the scores of the 10 most similar books (the first is the movie we asked)
    sim_scores = sim_scores[1:k+1]

    # Get the books indices
    book_indices = [i[0] for i in sim_scores]
    print(book_indices)

    # Return the top 10 most similar books
    return books['original_title'].iloc[book_indices]

In [41]:
get_recommendations('Twilight', cosine_sim=cosine_sim,k=10)

2
[431, 183, 231, 299, 416, 468, 1689, 1908, 2041, 204]

431                                    I, Robot
183                                     Matilda
231                              The Gunslinger
299              The Boy in the Striped Pyjamas
416                         The Thirteenth Tale
468     Fantastic Beasts and Where to Find Them
1689                           The Jungle Books
1908                         The Caves of Steel
2041                       The Valley of Horses
204                  Interview with the Vampire
Name: original_title, dtype: object

In [36]:
get_recommendations('Harry Potter and the Philosopher\'s Stone', cosine_sim=cosine_sim,k=10)

1
[18, 188, 17, 23, 20, 26, 1777, 637, 93]

18                     The Fellowship of the Ring
188                         The Lord of the Rings
17       Harry Potter and the Prisoner of Azkaban
23            Harry Potter and the Goblet of Fire
20      Harry Potter and the Order of the Phoenix
26         Harry Potter and the Half-Blood Prince
1777                       The Portrait of a Lady
637                                         Heidi
93                    Cien aֳƒֲƒֳ‚ֲ±os de soledad
Name: original_title, dtype: object

In [38]:
get_recommendations('I, Robot', cosine_sim=cosine_sim,k=10)

431
[2, 231, 1689, 204, 1908, 2101, 45, 468, 1187]

2                                                Twilight
231                                        The Gunslinger
1689                                     The Jungle Books
204                            Interview with the Vampire
1908                                   The Caves of Steel
2101                              Suite franֳƒֲƒֳ‚ֲ§aise
45                                    Water for Elephants
468               Fantastic Beasts and Where to Find Them
1187    The Monk Who Sold His Ferrari: A Fable About F...
Name: original_title, dtype: object

In [ ]:
get_recommendations('When Breath Becomes Air', cosine_sim=cosine_sim,k=10)

In [ ]:
books.index[books['original_title'] == 'When Breath Becomes Air' ].tolist()

In [37]:
get_recommendations('Magic Rises', cosine_sim=cosine_sim,k=10)

4864
[5, 11, 15, 16, 19, 21, 29, 30, 33]

5           The Fault in Our Stars
11                       Divergent
15    Mֳƒֲƒֳ‚ֲ₪n som hatar kvinnor
16                   Catching Fire
19                      Mockingjay
21                The Lovely Bones
29                       Gone Girl
30                        The Help
33            Fifty Shades of Grey
Name: original_title, dtype: object